
*{
	margin: 0;
	padding: 0;
	font-family: Jost;
	background-color: #FCF7F6;

}

body {
	text-rendering: optimizeLegibility;
	margin: 10px auto 200px;
	width: 700px;
}

main {
	text-align: center;
}

header {
	float:top;
	background-position: center;
}
header > nav {
	float: right;
	font-size: 16px;
}
ul.ba {
	list-style-type: none;
}
.links {
	text-align: center;
	color: black;
	text-decoration: none;
}
.links:hover {
	color: red;
}

.circle {
	border-radius: 50%;
	width: 200px;
	border: 2px;
}

.center {
	text-align: center;
}

#me {
	margin-top: 20px;
	margin-bottom: 20px;
}

#description {
	margin-bottom: 20px;
	text-align: center;
	width: 450px;
	margin-left:125px;
}

#name {
	color:black;
	font-family: Source Sans Pro;
}
a:link {
	color:black;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color:black;
}